/* REMOVE DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT MAIN */
body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

/* PAD SIZING */
.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

/* PAD COLORS */
.kick-pad {
  background: rgb(134, 134, 248);
}

.snare-pad {
  background: rgb(241, 181, 68);
}

.hihat-pad {
  background: rgb(248, 115, 115);
}

/* PAD COLORS --- WHEN ACTIVE */
.kick-pad.active {
  background: rgb(93, 93, 172);
}
.snare-pad.active {
  background: rgb(168, 126, 48);
}
.hihat-pad.active {
  background: rgb(161, 75, 75);
}

/* CENTER SEQUENCER */
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* PAD AND TEXT STYLES */
.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 2rem;
}

/* ALIGN PADS */
.kick,
.snare,
.hihat {
  display: flex;
}

/* ALIGN CONTROL BUTTONS */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

/* CONTROL BUTTON STYLING */
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(216, 206, 206);
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

/* INDIVIDUAL PAD STYLING */
.pad {
  transition: all 0.5s ease;
  border-radius: 10px;
}

/* PLAY BUTTON */
.play {
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  background: rgb(216, 206, 206);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-top: 3rem;
}

/* DRUM SELECTION DROPDOWN STYLING */
select {
  padding: 1rem;
  font-size: 1rem;
}
